.cell{
    width: 2.35em;
    height: 2.35em;
    border: 2px solid black;
    text-align: center;
    font-size: 3em;
    font-family: Arial;
    cursor: pointer;
}

#gameCell{
    display: grid;
    grid-template-columns: repeat(3, 7.5em);
    grid-template-rows: repeat(3, 7.5em);
}

#gameContainer{
    display: flex;
    justify-content: center;
}